/* ===== FONT ===== */
@font-face {
    font-family: 'Roboto'; 
    src: url(/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color : rgb(0,0,180);
    --second-color : rgba(255,255,255,0.2);
}

body {
    margin: 0;
    font-family: 'Roboto';
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/icon-tekad.png) center/325px no-repeat;
    padding: 1rem;
}

.login > .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-color);
    backdrop-filter: blur(7.5px);
    border-radius: 1rem;
    padding: 2rem;
    margin: 30px;
    box-shadow: 0 0 20px;
    width: 100%;
    max-width: 400px;
}

.login > .form-container > .form-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login > .form-container > .form-head > .logo {
    width: 75%;
    margin: 10px 0 0 0;
}

.login > .form-container > .form-head > h2 {
    margin: 20px 0 0 0;
    text-align: center;
}

/* ===== FORM BODY ===== */
form {
    width: 100%;
    padding: 15px;
}

form > .form-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 1.25rem 0 0 0;
    gap: 5px;
}

form > .form-body > label {
    margin: 0 0 -5px 0;
}

form > .form-body > input {
    width: 95%;
    margin: -5px 0 20px 0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px;
}

form > .form-body > button {
    width: 101%;
    font-size: large;
    margin: 15px 0 0 0;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
    .login {
        background-size: 220px;
    }
    .login > .form-container {
        margin: 10px;
        padding: 1.75rem;
    }

    form > .form-body > label {
        margin: -5px 0 0 0;
    }

    form > .form-body > input {
        width: 93%;
    }

    form > .form-body > input,
    form > .form-body > button {
        font-size: 16px;
    }

    form > .form-body > button {
        padding: 12px 0;
    }
}
